/* web development project course */
.aboutsectioncard{
    display: grid;
    float: right;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
    

  
  /* Remove extra left and right margins, due to padding */
  /* .row {
    margin: 0 -5px;
  } */
  
  /* Clear floats after the about-cards */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Responsive about-cards */
  @media screen and (max-width: 545px) {
    .aboutsectioncard{
        display: grid;
        float: right;
        grid-template-columns: 1fr;
        margin-top: 30px;

    }
    .Aboutme {
      width: 100px;
      height: 100px;
      display: block;
      align-items: center;
      margin-left: 40%;
      margin-right: 50%;
      /* padding: 5px 0px; */
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  }
  
  /* Style the counter project-actions */
  .about-action-1 {
    box-shadow: 0 2px 8px 0 rgb(255 255 255 / 99%);
    text-align: center;
    width: 100%;
    background-image: -webkit-linear-gradient(63deg, #1f769826 9%, #08080826 50%);
    height: 100px;
    height: 350px;
}
  
 
  @media screen and (max-width: 545px) {
    .about-action-1 {
      box-shadow: 0 2px 8px 0 rgb(255 255 255 / 99%);
      text-align: center;
      width: 100%;
      background-image: -webkit-linear-gradient(63deg, #1f769826 9%, #08080826 50%);
      height: 100px;
      height: 400px;
  }
    

  }
  .about-icon-1 {
  
    display: inline-block;
    padding-right: 3px;
    font-weight: 900;
    width: 100px;
    height: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 115, 230);
    justify-content: center;
    align-items: center;
    margin: -60px 5px 40px 5px;
    border-radius: 100%;
    -webkit-animation: SGUPTAGROUP 3s linear infinite;
            animation: SGUPTAGROUP 3s linear infinite;
    -webkit-animation-direction: reverse;
            animation-direction: reverse;
   
}
@-webkit-keyframes SGUPTAGROUP {
    from {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  
  @keyframes SGUPTAGROUP {
    from {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  
  /* .about-icon-1 i {
    justify-content: center;
    align-items: center;
    margin: 13px;
    background-color: rgb(214, 26, 142);
    border-radius: 100%;
    width: 75px;
    height: 75px;
    display: block;
    padding: 10px 10px;
    text-align: center;
  } */
  .about-inner-boxes h1 {
    color: white;
    font-size: 25px;
  }
  
  .about-inner-boxes p {
    color: white;
    font-size: 16px;
    padding: 0px 10px;

  }
  
  .about-card-course {
    margin: 0px;
    padding: 20px;
  }
  .aboutcardimage{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-top: 10px;

  }