@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap');
/* |||||||||||||||||||||||||||||Home text animation||||||||||||||||||||||||||||| */
.Homeanimation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 15px 0px;
}
.Homesvg{
  margin-top: -420px;
    opacity: 10;
    overflow: hidden;
    z-index: -1;
}
.Homeanimationtextleft{
font-size: 30px;
color: white;
padding: 10px;
}
.Homeanimationtextmiddle{
  font-size: 30px;
color: rgb(89, 174, 231);
padding: 5px 10px 5px 10px;
}
.Homeanimationtextright{
  font-size: 30px;
color: rgb(231, 89, 196);
padding: 10px;
}

#video{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
}

/* |||||||||||||||||||||||||||||||||||||||Home Top||||||||||||||||||||||||||||||||||||||||||| */
/* .home-top{
  background-image: -webkit-linear-gradient(265deg, #0a2b46 39%, #080808 51%);
} */
.Hometopimage{
    width: 70%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 0px 10px;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-duration:3s;
    animation-delay: 3s;
}
@-webkit-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-20px);
      -moz-transform: translatex(-20px);
      -o-transform: translatex(-20px);
      transform: translatex(-20px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-20px);
      -moz-transform: translatex(-20px);
      -o-transform: translatex(-20px);
      transform: translatex(-20px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-200px);
      -moz-transform: translatex(-200px);
      -o-transform: translatex(-200px);
      transform: translatex(-200px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
.h1-primary{
    position: relative;
  color: #fff;
  font-size: 3rem;
  padding: 5px 3px;
  text-align: left;
  -webkit-animation: h1-primary 3s linear infinite;
          animation: h1-primary 3s linear infinite;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}

@-webkit-keyframes h1-primary {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes h1-primary {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
.homescreen{
  margin-top: 40px;
}
.homescreenright{
  margin-top: 0px;

}
.h2-primary {
  text-align: left;
  font-size: 20px;
  color: #cdd4df;
  line-height: 25px;
  font-weight: 400;
  padding: 27px 5px;
  font-family: 'Poppins', sans-serif;
}

.h1-primarylasttitle{
    color: rgb(233, 97, 233);
}

.homebutton{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    list-style-type: none;
    text-decoration: none;
  
}
.homebutton:hover{
    color: rgb(153, 195, 236);
    text-decoration: none;
}
.homebtn{
  display: block;
  background-color: rgba(53, 52, 53, 0.123);
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 15px;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||| Home client slide ||||||||||||||||||||||||||||| */
.client-left-section-text {
  font-size: 30px;
  text-align: center;
  line-height: 25px;
  color: #4c4c4c;
  font-weight: 700;
  padding-left: 30px;
  margin: 0;
  transform: rotate(-90deg) translate(-71px,0);
  }
.clients-sec .container-fluid .client-left-section {
  padding: 20px 0;
  box-shadow: 0 0 35px #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #333;
  width: 70px;
  }
  .clients-sec {
  background: #333;
  text-align: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 150px;
  }
  
  .tech-slideshow {
    width: 100%;
    height: 140px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    /* margin-top: 18px; */
    background: #333;
    }
    
    .tech-slideshow > div {
    height: 40px;
    width: 4000px;
    background: url(./images/cleintslogo.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    
    }
    .tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
    }
    .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
    }
    .tech-slideshow:hover .mover-2 {
    opacity: 1;
    }
    
    @keyframes moveSlideshow {
    100% { 
    transform: translateX(-66.6666%);  
    }
    }
/* |||||||||||||||||||||||||||||||||||||||||||||||||||Mobile view|||||||||||||||||||||||||||||||||||||||||||||||||||||| */
@media only screen and (max-width: 991px){
  .h1-primary{
    position: relative;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  }
  .h2-primary {
    text-align: center;
    font-size: 16px;

}
.homebtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(31, 29, 31, 0.096);
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
.Homeanimation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 25px 0px;
}
.Homeanimationtextleft{
  font-size: 25px;
  color: white;
  padding: 10px;
  padding: 10px;
  }
  .Homeanimationtextmiddle{
    font-size: 25px;
    color: rgb(89, 174, 231);
  padding: 5px 10px 5px 10px;
  }
  .Homeanimationtextright{
    font-size: 25px;
    color: rgb(231, 89, 196);
    padding: 10px;
  }
  .homescreen {
    margin-top: 90px;
}
}
/* ||||||||||||||||||||||||||||||SOCIAL ICON||||||||||||||||||||||||||||||||| */
.iconimg{
  width: 40px;
  height: 40px;
  margin: 5px;
}
.social-middle{
  display: flex;
  justify-items: left;
  margin-bottom: 40px;
  
}
@media only screen and (max-width: 1599px){
  .Homesvg {
      margin-top: -350px;
      opacity: 10;
      overflow: hidden;
      z-index: -1;
  }
  }
  @media only screen and (max-width: 1199px){
    .Homesvg {
        margin-top: -243px;
        opacity: 10;
        overflow: hidden;
        z-index: -1;
    }
    }

@media only screen and (max-width: 991px){
  .social-middle{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .Homesvg {
    margin-top: -290px;
    opacity: 10;
    overflow: hidden;
    z-index: -1;
  }
}

@media only screen and (max-width: 724px){
.Homesvg {
    margin-top: -208px;
    opacity: 10;
    overflow: hidden;
    z-index: -1;
}
}
@media only screen and (max-width: 400px){
  .Homesvg {
    margin-top: -140px;
    opacity: 10;
    overflow: hidden;
    z-index: -1;
}
}
  
