.animationskilltext img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation: skilltext 7s linear infinite;
    filter: grayscale(100%);
    filter: brightness(50%);

  }
  .animationskilltext{
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    opacity: 1;
}

@media only screen and (max-width: 750px){
    .animationskilltext{
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        position: absolute;
        bottom: -470px;
      }
  }
  @media only screen and (max-width: 500px){
    .animationskilltext{
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        position: absolute;
        bottom: -70px;
      }
  }
  @keyframes skilltext {
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    15%{
      opacity: 1;
    }
    30%{
      opacity: 1;
    }
    45%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    70%{
      opacity: 1;
    }
    80%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
    100%{
      transform: translateY(-80vh);
      opacity: 0;
    }
  }
  .animationskilltext img:nth-child(1){
    animation-delay: 0s;
    width: 90px;
  }
  .animationskilltext img:nth-child(2){
    animation-delay: 2.5s;
  }
  .animationskilltext img:nth-child(3){
    animation-delay: 5s;
  }
  .animationskilltext img:nth-child(4){
    animation-delay: 7.5s;
    width: 50px;
  }
  .animationskilltext img:nth-child(5){
    animation-delay: 9s;
  }
  .animationskilltext img:nth-child(6){
    animation-delay: 15s;
    width: 75px;
  }
  .animationskilltext img:nth-child(7){
    animation-delay: 13s;
  }
  .animationskilltext img:nth-child(8){
    animation-delay: 15.5s;
    width: 60px;
  }
  .animationskilltext img:nth-child(9){
    animation-delay: 5s;
    width: 100px;
  }
  .animationskilltext img:nth-child(10){
    animation-delay: 12s;
    width: 125px;
  }
